---
title: ProfileEdit
buttonText: Сохранить
---

{{> baseLayout }}

<div class="profilePageWrapper">
    {{> asideBackLink}}
    <div class="profilePageMainContent">
        {{> avatar }}
        <div class="profilePageForm">
            {{#each profileData.profileChangePassword}}
                {{>profileFormInput }}
            {{/each}}
        </div>
        <div class="profilePasswordChangeSubmitButtonWrapper">
            {{> submitButton }}
        </div>
    </div>
</div>