@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: Inter, sans-serif;
  src:
    url("../../static/fonts/Inter-Regular.ttf") format("woff2"),
    url("../../static/fonts/Inter-Regular.ttf") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: Inter, sans-serif;
  src:
    url("../../static/fonts/Inter-Medium.ttf") format("woff2"),
    url("../../static/fonts/Inter-Medium.ttf") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: Inter, sans-serif;
  src:
    url("../../static/fonts/Inter-Bold.ttf") format("woff2"),
    url("../../static/fonts/Inter-Bold.ttf") format("woff");
}
