$color-link: #3369f3;
$color-link-warning: #f00;
$color-label: #999;
$color-error-message: #ff2f2f;
$color-aside-background: #fbfbfb;
$color-black-text: #1e1e1e;
$color-profile-underline: #eaeaea;
$color-light-grey: #efefef;
