@import "../variables";

.backLinkBlock {
  width: 64px;
  position: absolute;

  left: 0;
  top: -59;

  height: 100vh;
  background-color: $color-aside-background;
}

.backLinkWrapper {
  cursor: pointer;

  position: absolute;
  width: 28px;
  height: 28px;
  left: 20px;
  top: 378px;

  background: $color-link;
  border-radius: 100px;
}
