@import "../variables";

.chatSearchInputWrapper {
  text-align: right;
  margin: 20px 0;
}

.chatSearchInput {
  font-family: Inter, sans-serif;

  text-align: center;
  width: 290px;
  height: 32px;
  background: $color-light-grey;
  border-radius: 5px;
  padding: 5px;
  border:0;
  outline:0;
}
.chatSearchInput:focus {
  outline:none !important;
}