@import "../variables";

.activeChatBlockEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.activeChatBlockTitle {
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-label;
}