---
title: Навигация по страницам
---

{{> baseLayout}}

<nav class="mainNavPage" >
    <a href="./404_page.hbs">404 page</a>
    <a href="./500_page.hbs">500 page</a>
    <a href="./loginPage.hbs">login page</a>
    <a href="./registerPage.hbs">register page</a>
    <a href="./profilePage.hbs">profile page</a>
    <a href="registerPage.hbs">change profile data</a>
    <a href="registerPage.hbs">change password</a>
</nav>
