---
title: Signin
formHeading: Регистрация
buttonText: Зарегистрироваться
linkText: Войти
linkHref: ./loginPage.hbs
---
{{> baseLayout }}

<div class="flexCenterWrapper authWrapper">
    <div class="authForm">
        {{> formHeading}}
        <div class="flexCenterWrapper registerFormFieldsWrapper formFieldsWrapper">
            {{#each registerData }}
                {{> formInput }}
            {{/each}}
        </div>
        <div class="formButtonsWrapper">
            {{> submitButton }}
            {{> link }}
        </div>
    </div>
</div>