<div>
    <a class="userAvatar" href="../pages/profileEditPage.hbs">
        <div class="userAvatarWrapper">
            <img src="../../static/img/avatar/avatar.svg" width="130" height="130" alt="userAvatar">
        </div>
    </a>
    {{#if showName}}
        <span class="userAvatarName">Иван</span>
    {{/if}}
</div>