<!doctype html>
    <html>
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" href="../styles/styles.scss">
            <title>{{> title }}</title>
        </head>
        <body>
            <main class="wrapper">
                {{{ body }}}
            </main>
        </body>
</html>